.book-info-modal-bg {
    top: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    position: fixed;
    display: flex;
    z-index: 3;
}

.modal-content {
    position: fixed;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fbfbfd;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 30px;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    z-index: 4;
}

.modal-header {
    position: relative;
    height: 5%;
    padding-right: 10px;
}

.modal-body {
    height: 80%;
    justify-content: start;
}


.modal-body .book-cover {
    position: relative;
    height: 20%;
}

.book-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.modal-content .book-thumbnail {
    position: relative;
    height: 15%;
}
.modal-content .book-thumbnail img {
    position: absolute;
    top: -60%;
    left: 5%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal-footer {
    height: 15%;

    position: relative;
}



.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}