.sidebar {
    flex-basis: 5vw;
    height: 100vh;
    border-color: #c4c4c6;
    border-width: 0px 1.6px 0px 0px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    z-index: 3;
}

.button-group svg {
    position: absolute;
    height: 3vh;
    width: 20px;
}

.button-group {
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    font-size: 0.8rem;
    
    
}

.button-group:hover {
    font-size: 0.9rem;
    cursor: pointer;
    background-color: #cacad3;
}

.button-group:hover svg {
    width: 27px;
}
