.sidebar {
    width: 5vw;
    height: 100vh;
    border-right: 1.5px solid #bbbbbb;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: #d8d8d8;
}

.sidebar .button-group svg {
    position: absolute;
    height: 3vh;
    width: 20px;
}

.sidebar .button-group {
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13vh;
    width: 100%;
    font-size: 0.8rem;
}

.sidebar .button-group:hover {
    font-size: 1rem;
    cursor: pointer;
    background-color: #cacad3;
}

.sidebar .button-group:hover svg {
    width: 28px;
}

.sidebar .button-group.active {
    background-color: #cacad3;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}
