.sidebar {
    flex-basis: 5vw;
    height: 100vh;
    border-right: 1.8px solid #c4c4c4;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.button-group svg {
    position: absolute;
    height: 3vh;
    width: 20px;
}

.button-group {
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    font-size: 0.8rem;
}

.button-group:hover {
    font-size: 0.9rem;
    cursor: pointer;
    background-color: #cacad3;
}

.button-group:hover svg {
    width: 27px;
}