.book-catalog-container {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  padding: 2vh 2vw 2vw 2vw;
  gap: 1vw;
  justify-content: center;
  box-sizing: border-box;
  width: fit-content;
  margin-right: auto !important;
}