.catalog-container {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  gap: 15px;
  justify-content: center;
  padding: 4vh 3vw 6vh 3vw;
  box-sizing: border-box;
    text-shadow: 3px 4px 5px  rgba(90, 90, 90, 0.281);

}
