.App {
    width: 100vw;
    height: 100vh;
    background-color: #fbfbfd;
    display: flex;
    flex-basis: 100%;
    user-select: none;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-sizing: border-box;
}
/* 
* {
    border: 0.5px solid rgb(0, 0, 0);
  } */