.App {
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    display: flex;
    flex-basis: 100%;
    user-select: none;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-sizing: border-box;
}

/* 
* {
    border: 1px solid rgb(0, 0, 0);
  } */

/* html {
    filter: invert(100%);
}
*  {
    box-shadow: none !important; 
    text-shadow: none;

}


img,
picture,
video {
    filter: invert(1)
}
 */
