.topbar {
    height: 50px;
    width: 100%;
    background-color: #F8FAFB;
    z-index: 1;
    display: flex;
    border-color: #c4c4c6;
    border-width: 0 0 1px 0;
    border-style: solid;
    text-align: center;
    align-items: center;
    padding: 0 15px 0 15px;
    box-sizing: border-box;
    justify-content: space-between;
    position: relative;
}

.topbar .user-info {
    font-size: 1rem;
}
