.catalog-header {
  padding: 5px 0 5px 15px;
  box-shadow: inset -20px -7px 20px 4px rgb(0 0 0 / 6%);
}

.catalog-header h3 {
  width: 100%;
  font-weight: 300;
  font-size: 1.7rem;
  pointer-events: none;
}

.catalog-wrapper {
  height: 100%;
  position: relative;
  overflow: auto;
  box-shadow: inset -20px -7px 20px 4px rgb(0 0 0 / 6%);
}

.catalog-container {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  gap: 15px;
  justify-content: center;
  padding: 4vh 3vw 6vh 3vw;
  box-sizing: border-box;
}
