.modal-content {
    position: fixed;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fbfbfd;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 30px;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    z-index: 4;
    overflow: hidden;

}

.modal-content .modal-body {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 95%;
    justify-content: start;
    overflow: scroll;
}

.modal-content .modal-body .book-cover {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 20%;
    width: 100%;
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.16);
}

.modal-content .book-cover #cover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-content #thumb-img {
    position: absolute;
    left: 5%;
    top: 60%;
    min-width: 100px;
    min-height: 100px;
    width: 10vw;
    height: 15vh;
    border-radius: 50%;
    box-shadow: 0 3px 15px 3px rgba(0, 0, 0, 0.5);
}

.modal-body .book-thumbnail {
    min-height: 12vh;
}

.modal-body .close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
}

.modal-content .info-box {
    height: auto;
    width: 100%;
}

.info-box h3 {
    font-weight: 100;
    font-size: 5vmin;
    display: flex;
    height: fit-content;
    margin: 0 0 0 5%;
}

.info-text {
    display: flex;
    margin-top: 1.2%;
    margin-left: 6%;
    flex-direction: column;
    text-align: left;
    font-size: 1rem;
    font-weight: 300;
}

.info-text p {
    margin: 0;
    padding: 10px;
    font-weight: 400;
    font-size: 1.1rem;
}

.info-text span {
    margin: 0;
    padding: 10px;
    font-size: 1.05rem;
    font-weight: 300;
}

.modal-body .razor {
    width: 35vw;
    box-shadow: 0 0.1px 0 rgb(116, 112, 112);
    border-radius: 10px;
    border-bottom: 1px solid rgba(150, 147, 147, 0.432);
    margin: 0;
}

.razor-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
}

.book-table {
    position: relative;
    align-items: center;
    margin: auto;
    padding: 0 15px 0 15px;
}

.table-toolbar {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    gap: 5;
    font-size: 0.9rem;
}

.table-toolbar h3 {
    font-weight: 200;
    font-size: 1.6rem;
    text-shadow: 3px 4px 5px rgba(90, 90, 90, 0.397);
    padding-bottom: 0.5rem;
    /* set a smaller value for padding-bottom */
    border-bottom: 1px solid #ccc;
}

.table-toolbar h3:hover {
    font-weight: 300;
    font-size: 1.6rem;
    font-style: underline;
    cursor: pointer;
}
