.home-page {
  width: 100vw;
  height: 100vh;
  background-color: #fbfbfd;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}


.main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 90%;
}
